
/*  bottom nav part */

.btm-container {
    height: 40vh;
    background-image: url("./assets/footer-bg.svg");
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: space-around; */
}
.btm-part {
    display: flex;
    justify-content:space-between;
    flex-direction:row;
     align-items:center;

    padding:6rem 25rem 0rem 25rem;

}


.btm-left h1 {
color: #fff;
font-size:55px;
/* padding-right:20rem ; */
margin-right: 3rem;
}
.btm-left p {
    color:#eaecf3;

}

.btm-right  button {
    /* width: 400px; */
    /* padding: 10rem; */
width: 170px;
height:50px;
border:1px solid #fff;
color:#fff;
font-weight: bold;
background-color:#068cf0;
border-radius:5px;


}

.footer-container {
    height:50vh;
    color: black;
    display: flex;
    justify-content: center;
}

.footer {
    display:flex;
    justify-content: space-between;
    align-items:center ;
    /* padding: 1rem; */
    flex-direction: row;
    gap: 4rem;
}

.fo-div {
    padding: 1rem;

    
}
.fo-div p {
    color: #6e6e6e;
}

.fo-div li {
    list-style: none;
    padding: 0.5rem;
    color: #6e6e6e;
}
.first-div {
    width: 300px;
    padding-bottom: 4rem;
}
.first-div img {
    height: 40px;

}

.second-div {
    text-decoration: none;
}
.third-div {
    padding-bottom: 1rem;
}
.fourth-div {
    padding-bottom: 4rem;
}

.fifth-div ul {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}


.fifth-div ul li {
    background-color: white;
    border-radius: 50%;
    /* border: 1px solid #08a6f4; */
    border: none;
    padding: 10px;
    font-size: 13px;
    color: white;
    background-color:#08a6f4;
    gap: 5rem;
}
.fifth-div  {
    padding-bottom: 9rem;
}